.links{
display:flex;
align-items: center;
gap: 10px;
}

.buttonLog{
    border: 0 solid;
    border-radius: 20px;
    background-color: var(--text);
    padding: 15px;
    font-size: 500;
    font-weight: bold;
    color:var(--bg)

}

.buttonOpen,
.mobileLinks{
    display: none;
}


@media (max-width:768px){
    .links{
        display:none;
    }
    .buttonOpen{
        display: block;
        font-size: 20px;
        padding: 10px;
        border: 0;
        border-radius: 10px;
        background: white;
        color: black;
        font-weight: bold;
    
    }
    
    .mobileLinks{
        position:absolute;
        top:100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        background-color: var(--bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    
    }   
}